// Цвета
$backgroudColor: #F3F6FD;
$primaryColor: #162E71;
$greyTextColor: rgba(#6B6B6B, 0.7);
$placeHolderTextColor: #E5E5E5;
$tableHeaderColor: rgba(#162E71, 0.5);
$tableContentColor: rgba(#162E71, 0.7);
$extensionColor: #B5B5B5;

// Размеры
$size65: calc(1.2rem + 3.2vw);
$size85: calc(3rem + 4.3vw);
$size45: calc(0.1rem + 3.3vw);
$size40: calc(0.1rem + 2.3vw);
$size50: calc(0.2rem + 3.3vw);